<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billgrean</title>
    <link rel="stylesheet" href="ingresar-datos.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="split left">
        <div class="centered-left">
            
            <h1 id="titulo">INGRESAR DATOS</h1>
            <img src="assets\Logo.PNG" alt="Company logo or image">
        </div>
    </div>
  
    <div class="split right">
        <div class="centered">
            <h2 id="log-in">DESEA INGRESAR ALGUNOS</h2>
            <h3 id="log-in">DE SUS GASTOS AHORA?</h3>
            <section class="login">
  
                <div class="buttons-container">

                    <div class="boton-gastofi">
                        <a routerLink="/home" id="gastofi-button" alt="gastofi button"></a>
                       </div>
                
                       <div class="boton-deuda">
                        <a routerLink="/home" id="deuda-button" alt="deuda button"></a>
                       </div>
                  
                       <div class="boton-impuesto">
                        <a routerLink="/home" id="impuesto-button" alt="impuesto button"></a>
                       </div>

                       <div class="boton-ahorro">
                        <a routerLink="/home" id="ahorro-button" alt="ahorro button"></a>
                       </div>

                       <div class="boton-guardar">
                        <a routerLink="/home" id="guardar-button" alt="guardar button"></a>
                       </div>

                       <div class="boton-omitir">
                        <a routerLink="/ingresar-datos" id="omitir-button" alt="omitir button"></a>
                       </div>

              </div>
              </section>
        </div>
    </div>
  </body>
