<head>

    <title>Billgrean</title>
    <link rel="stylesheet" href="forgot-password.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="split left">
        <div class="centered-left">

          <div class="back-button">
            <a routerLink="/log-in"  href="">  .....</a>
          </div>
            <h1 id="titulo">BILLE GREAN</h1>
            <img src="assets\Logo.png" alt="Company logo or image">





        </div>
    </div>

    <div class="split right">
        <div class="centered">

            <h2 id="log-in">FORGOT</h2>
            <h3 id="log-in">PASSWORD</h3>
            <p style="padding-top: 40px; font-size: 20px;">SE TE ENVIARA UN NUMERO A TU CORREO ELECTRONICO FAVOR DE ESCRIBIR EL NUMERO EN EL SIGUIENTE APARTADO. NO COMPARTA CON NADIE ESTE CODIGO</p>


            <section class="login">

                <div class="data-container">






                  <div class="num-wrapper">
                    <label for="num" class="num-label">Num Verificación:</label>
                    <div class="num-container">
                        <input type="number" id="num" name="num" required>
                    </div>
                </div>




              </div>

              <div class="buttons">
                <a id="create-button" href="#" alt="Create button">Create</a>
                <a routerLink="/new-password" id="siguiente-button" alt="Siguiente">Siguiente</a>
            </div>


            <script>
              document.getElementById('create-button').addEventListener('click', function(event) {
                event.preventDefault(); // Evita que el enlace recargue la página

                // Simulación de envío del número de verificación
                // Aquí normalmente enviarías el número de verificación por correo electrónico

                // Mensaje a mostrar
                var mensaje = "Se ha enviado el número de verificación a su correo electrónico.";

                // Muestra el mensaje en una ventana emergente
                window.alert(mensaje);
              });
            </script>


              </section>
        </div>
    </div>
  </body>
