<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billgrean</title>
    <link rel="stylesheet" href="salario-fijo.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="split left">
        <div class="centered-left">


          <div class="back-button">
            <a routerLink="/salary-type"  href="">  .....</a>
          </div>

            <h1 id="titulo">SALARIO FIJO</h1>
            <img src="assets\Logo.png" alt="Company logo or image">
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <h2 id="log-in">INGRESE LOS</h2>
            <h3 id="log-in">DATOS</h3>
            <section class="login">

                <div class="data-container">

                  <div class="periodo-container">
                    <label for="periodo">Periodo:</label>
                    <select id="periodo" name="periodo" required>
                      <option value="diario">Diario</option>
                      <option value="quincenal">Quincenal</option>
                      <option value="mensual">Mensual</option>
                      <option value="anual">Anual</option>
                    </select>
                  </div>


                  <div class="payday-container">
                    <label for="payday">Día de pago:</label>
                    <input type="date" id="payday" name="payday" class="payday-input" required>
                    <span class="calendar-icon"></span> </div>


                    <div class="cantidad-container">
                      <label for="cantidad">Cantidad (MXN):</label>
                      <input type="number" id="cantidad" name="cantidad" required min="0" step="0.01">
                  </div>

                  <script>
                  document.getElementById('cantidad').addEventListener('input', function (event) {
                      const input = event.target;
                      const value = input.value;

                      // Validar que el valor sea un número
                      if (isNaN(value)) {
                          input.setCustomValidity('Por favor, ingrese un número válido.');
                      } else {
                          input.setCustomValidity('');
                      }
                  });
                  </script>


                <div class="descripcion-container">
                    <label for="descripcion">Descripción:</label>
                    <input type="descripcion" id="descripcion" name="descripcion" required>
                  </div>

              </div>

               <div class="boton">
                <a routerLink="/home" id="agregar-button" alt="agregar button"></a>
               </div>
              </section>
        </div>
    </div>
  </body>
