<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billgrean</title>
    <link rel="stylesheet" href="salario-fijo.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="split left">
        <div class="centered-left">
            
            <h1 id="titulo">SALARIO FIJO</h1>
            <img src="assets\Logo.PNG" alt="Company logo or image">
        </div>
    </div>
  
    <div class="split right">
        <div class="centered">
            <h2 id="log-in">INGRESE LOS</h2>
            <h3 id="log-in">DATOS</h3>
            <section class="login">
  
                <div class="data-container">

                <div class="periodo-container">
                  <label for="periodo">Periodo:</label>
                  <input type="periodo" id="periodo" name="periodo" required>
                </div>
                
                <div class="payday-container">             
                  <label for="payday">Día de pago:</label>
                  <input type="payday" id="payday" name="payday" required>
                </div>
                  
                <div class="cantidad-container">             
                    <label for="cantidad">Cantidad:</label>
                    <input type="cantidad" id="cantidad" name="cantidad" required>
                  </div>

                <div class="descripcion-container">             
                    <label for="descripcion">Descripción:</label>
                    <input type="descripcion" id="descripcion" name="descripcion" required>
                  </div>

              </div>
              
               <div class="boton">
                <a routerLink="/home" id="agregar-button" alt="agregar button"></a>
               </div>
              </section>
        </div>
    </div>
  </body>
