<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billgrean</title>
    <link rel="stylesheet" href="salary-type.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="split left">
        <div class="centered-left">
            
            <h1 id="titulo">BILLE GREAN</h1>
            <img src="assets\Logo.png" alt="Company logo or image">
        </div>
    </div>
  
    <div class="split right">
        <div class="centered">
            <h2 id="log-in">TIPO DE</h2>
            <h3 id="log-in">SALARIO</h3>
            <p style="padding-top: 40px;">SELECCIONE SU TIPO DE SALARIO</p>
            <section class="createA">
  
              
                <div class="buttons">
                    <a routerLink="/home" id="fijo-button" alt="Fijo button"></a>                   
                  </div>

                  <div class="buttons">
                    <a routerLink="/home" id="variable-button" alt="Variable button"></a>                   
                  </div> 
                
                <div class="buttons">
                  <a routerLink="/home" id="create-button" alt="Create button"></a>                   
                </div>

            </section>
        </div>
    </div>
  </body>