<div class="grafico">
    <div class="sombra"></div>
    <div id="porcion1" class="recorte"><div class="quesito" data-rel="70"></div></div>
    <div id="porcion2" class="recorte"><div class="quesito" data-rel="120"></div></div>
    <div id="porcion3" class="recorte"><div class="quesito" data-rel="25"></div></div>
    <div id="porcionFin" class="recorte"><div class="quesito" data-rel="145"></div></div>
</div>


<div class="button-container">
    <button class="nuevo-gasto-btn">Nuevo Gasto</button>
</div>



<nav class="navigation">
    <div class="menu-toggle">
        <span class="hamburger-lines"></span>
        <span class="hamburger-lines"></span>
        <span class="hamburger-lines"></span>
    </div>
    
</nav>


<div class="table-container">
    <table>
        
        <tbody>
            <tr>
                <td>FIJOS</td>
                
            </tr>
            <tr>
                <td>VARIABLES</td>
                
            </tr>
            <tr>
                
                <td>DEUDAS</td>
            </tr>
        </tbody>
    </table>
</div>



<div class="user-image-container">
    <img src="\assets\ProfilePic.png" alt="User Image" class="user-image">
</div>
