<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billgrean</title>
    <link rel="stylesheet" href="lista-gastos.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navigation">
        <div class="menu-toggle">
            <span class="hamburger-lines"></span>
            <span class="hamburger-lines"></span>
            <span class="hamburger-lines"></span>
        </div>
        
        <div class="profile-icon">
            <img src="\assets\ProfilePic.png" alt="Imagen de perfil">
          </div>
          

    </nav>

    <header class="header">
        <h1>Gastos</h1>
        
    </header>
    <nav class="nav">
        <ul>
            <li><a href="#">LISTA</a></li>
            <li><a href="#">GRÁFICOS</a></li>
        </ul>
    </nav>
    <main class="main">
        <section class="section">

            <table>
                <thead>
                    <tr>
                        <th>DESCRIPCION</th>
                        <th>MONTO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hamburgesa triple carne, Papas fritas grandes, Soda grande</td>
                        <td>$500</td>
                    </tr>
                    <tr>
                        <td>Coca-Cola Zero 600 ml., Chips Fuego, Clorets</td>
                        <td>$45</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th>DESCRIPCION</th>
                        <th>MONTO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sabritas Lays</td>
                        <td>$40</td>
                    </tr>
                    <tr>
                        <td>Coca-Cola Zero 600 ml., Chips Fuego, Clorets</td>
                        <td>$45</td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>
</body>
