body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.profile-icon {
  position: relative;
}

.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.nav-links li {
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.nav-links a {
  display: inline-block;
  width: 140px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */

  border: none;
  cursor: pointer;
  margin-right: 20px; /* Espacio entre botones */
}



#listab-button {
  width: 140px;
  height: 38px;
  /*background-image: url('/assets/lista.png'); /* Color de fondo para el botón Lista */
  border: none;
  cursor: pointer;
  margin-right: 20px;
  /*text-indent: -9999px;*/
  background-color: rgb(150, 221, 186);
}

#grafb-button {
  width: 140px;
  height: 38px;
  /*background-image: url('/assets/graficos.png'); /* Imagen de fondo para el botón Gráficos */
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  border: none;
  cursor: pointer;
  margin-right: 20px;
  /*text-indent: -9999px;*/
  background-color: rgb(150, 221, 186);

}

