
<head>

    <title>Billgrean</title>
    <link rel="stylesheet" href="lista-gastos.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Billgrean</h1>
            <div class="profile-icon">
                <img src="\assets\ProfilePic.png" alt="Imagen de perfil">
            </div>
        </div>
    </header>

    <nav class="nav">
      <ul class="nav-links">
        <li><a href="#" id="listab-button">Lista</a></li>
        <li><a href="#" id="grafb-button">Gráficos</a></li>
      </ul>
    </nav>



    <main class="main">
        <section class="section">
            <h2>Gastos</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>DESCRIPCION</th>
                            <th>MONTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hamburgesa triple carne, Papas fritas grandes, Soda grande</td>
                            <td>$500</td>
                        </tr>
                        <tr>
                            <td>Coca-Cola Zero 600 ml., Chips Fuego, Clorets</td>
                            <td>$45</td>
                        </tr>
                        <tr>
                            <td>Sabritas Lays</td>
                            <td>$40</td>
                        </tr>
                        <tr>
                            <td>Coca-Cola Zero 600 ml., Chips Fuego, Clorets</td>
                            <td>$45</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Billgrean</p>
    </footer>
</body>

